.box {
    padding: 8px;
    border: 1px solid #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    margin-bottom: 10px;
}
.title {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    line-height: 24px;
    color: #e74291;
}
.box li{
    position: relative;
    padding-left: 30px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box li a:hover{
    color: #e74291;
}
.box li:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    background: #999999;
    text-align: center;
    position: absolute;
    left: 0;
    top: 8px;
}
.box li:first-child:after {content: "1";background: #FD8C84;}
.box li:nth-child(2):after {content: "2";background: #FFCC99;}
.box li:nth-child(3):after {content: "3";background: #7FD75A;}
.box li:nth-child(4):after {content: "4";background: #CCCCFF;}
.box li:nth-child(5):after {content: "5";background: #60C4FD;}
.box li:nth-child(6):after {content: "6";}
.box li:nth-child(7):after {content: "7";}
.box li:nth-child(8):after {content: "8";}
.box li:nth-child(9):after {content: "9";}
.box li:nth-child(10):after {content: "10";}